<div class="container">
  <div id='addedvalues'>
    <h2> <%= friend.first_name %>'s values </h2>
    <h3><%= friend.bio %></h3>
    <%= erb :'values/_addedvalues', locals: {values: values} %>

  </div>

  <% if values.length > 0 %>
    <%= erb :'values/_iffriend', locals: {moreValues: moreValues, friend: friend}%>
  <% else %>
    <%= erb :'values/_ifnotfriend'%>
  <% end %>

</div>